.home {
    padding-top: 147px;
    padding-top: 0px;

    &__listing {
      margin-bottom: 95px;
    }

    &__doit {
      margin-top: 150px;
      margin-bottom: 100px;
      font-family: @font3;
      font-weight: 700;
      font-size: 128px;
      transform: translateX(-50%);
      margin-left: 50%;
      width: 100vw;
      white-space: nowrap;
      text-align: center;
    }

    &__doit-text1 {
      margin-left: -37.5px;
      margin-top: 0;
      margin-bottom: 0;
    }

    &__doit-text2 {
      margin-left: 450px;
      margin-top: 0;
      margin-bottom: 0;
    }
}